.box {
    height: 200px;
    width: 200px;
    border: 2px solid black;
    margin: 5px;
    text-align: center;
    align-content: center;
    background: aquamarine;
}

.test {
    color: red;
    background-color: aqua;
}

.test2 {
    color: blue;
    background-color: yellow;
}