div {
    height: 100px;
    width: 100px;
    background-color: dodgerblue;
    border: 1px solid black;
    text-align: center;
    align-content: center;
    margin-top: 10px;
}

.dark {
    background-color: black;
    color: white;
}

.light {
    background-color: white;
    color: black;
}