body {
    background-color: antiquewhite;
}
.heading {
    color: blue;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: line-through;;
}

#box {
    height: 100px;
    width: 100px;
    background-color: aqua;
    align-content: center;
    text-align: center;
}